# Homework 5 solutions

In [2]:
from datascience import *
import numpy as np
%matplotlib inline

ModuleNotFoundError: No module named 'datascience'

In [3]:
taz_data = Table.read_table('tazData.csv')
taz_data

NameError: name 'Table' is not defined

Below is the taz_data dictionary. It contains information on the meaning of each of the column headers. This information comes from http://analytics.mtc.ca.gov/foswiki/Main/taz_data

    ZONE	    Transportation analysis zone	Integer, 1 to 1454	Origins, destinations, shape file
    DISTRICT	Superdistrict geographic designation	Integer, 1 to 34	Shape file
    SD	        Superdistrict geographic designation (duplicate)	Integer, 1 to 34	 
    COUNTY	    County	Integer, 1 to 9	
                                 1 - San Francisco;
                                 2 - San Mateo;
                                 3 - Santa Clara;
                                 4 - Alameda;
                                 5 - Contra Costa;
                                 6 - Solano;
                                 7 - Napa;
                                 8 - Sonoma;
                                 9 - Marin
    TOTHH	    Total households	Integer, 0 and up	 
    HHPOP	    Population living in households (as opposed to group quarters)	Integer, 0 and up	 
    TOTPOP	    Total population	Integer, 0 and up	 
    EMPRES	    Employed residents	Integer, 0 and up	 
    SFDU	    Number of occupied single-family dwelling units	Integer, 0 and up	 
    MFDU	    Number of occupied multi-family dwelling units	Integer, 0 and up	 
    HHINCQ1	    Households in the lowest income quartile (less than $25,000 annually in $1989)	Integer, 0 and up	 
    HHINCQ2	    Households in the second lowest income quartile (between $25,000 and $45,000 in $1989)	Integer, 0 and up	 
    HHINCQ3	    Households in the second highest income quartile (between $45,000 and $75,000 in $1989)	Integer, 0 and up	 
    HHINCQ4	    Households in the highest income quartile (more than $75,000 in $1989)	Integer, 0 and up	 
    TOTACRE	    Total acres	Float, 0.0 and up	 
    RESACRE	    Acres occupied by residential development	Integer, 0 and up	 
    CIACRE	    Acres occupied by commercial or industrial development	Integer, 0 and up	 
    SHPOP62P	Share of the population age 62 or older	Float, 0.0 to 1.00	 
    TOTEMP	    Total employment	Integer, 0 and up	 
    AGE0004	    Persons age 0 to 4	Integer, 0 and up	 
    AGE0519	    Persons age 5 to 19	Integer, 0 and up	 
    AGE2044	    Persons age 20 to 44	Integer, 0 and up	 
    AGE4564	    Persons age 45 to 64	Integer, 0 and up	 
    AGE65P	    Persons age 65 and older	Integer, 0 and up	 
    RETEMPN	    Retail trade employment (NAICS-based)	Integer, 0 and up	 
    FPSEMPN	    Financial and professional services employment (NAICS-based)	Integer, 0 and up	 
    HEREEMPN	Health, educational and recreational service employment (NAICS-based)	Integer, 0 and up	 
    AGREMPN	    Agricultural and natural resources employment (NAICS-based)	Integer, 0 and up	 
    MWTEMPN	    Manufacturing, wholesale trade and transportation employment (NAICS-based)	Integer, 0 and up	 
    OTHEMPN	    Other employment (NAICS-based)	Integer, 0 and up	 
    PRKCST	    Hourly parking rate paid by long-term (8-hours) parkers (year 2000 cents)	Float, 0.0 and up	 
    OPRKCST	    Hourly parking rate paid by short-term parkers (year 2000 cents)	Float, 0.0 and up	 
    AREATYPE	Area type designation	Integer, 0 - regional core, 1 - central business district, 2 - urban business, 3 - urban, 4 - suburban, 5 - rural	 
    HSENROLL	High school students enrolled at schools in this TAZ	Float, 0.0 and up	 
    COLLFTE	    College students enrolled full-time at colleges in this TAZ	Float, 0.0 and up	 
    COLLPTE	    College students enrolled part-time at colleges in this TAZ	Float, 0.0 and up	 
    TERMINAL	Average time to travel from automobile storage location to origin/destination	Float, 0.0 and up	 
    TOPOLOGY	Topology (steepness) indicator	Integer, 1 - flat, 2 - in between, 3 - steep	 
    ZERO	    Placeholder (always zero)	Integer, 0	 
    HHLDS	    Repeat of the TOTHH variable with a different name for software compatibility	Integer, 0 and up	 
    SFTAZ	    Repeat of the ZONE variable with a different name for software compatibility	Integer, 1 to 1454	 
    GQPOP	    Population living in group quarters rather than households	Integer, 0 and up

In [ ]:
taz_data_new = taz_data.where(taz_data.column('TOTPOP') != 0)

## Concert Impact

In  this  homework,  you  will  explore  environmental 
impact of a typical event held at AT&T Park stadium, 
such as the recent Metallica concert on Saturday Feb 
6th 2016, the  Super  Bowl  weekend.  You  are  to  use 
the  data  sources  from  the Mini-labs 4 and 5,  under 
the simplifying assumptions described below.

Given the significant flow of people to the 
venue, we will assume that traffic conditions and travel times are similar to AM peak 
traffic. All Lyft/Uber/Taxi drivers are old Metallica fans and are taking a day off. No 
other modes besides driving and regular walk-to-transit are available  to reach  the 
venue.  Those  who  prefer  driving  to  the  venue  carpool with  a  neighbor,  and  the 
average  vehicle occupancy is 2 persons (therefore use  the ‘shared  ride  (2 people)’
travel times). Regarding driving vs. transit, all the factors except travel time (such as 
parking fees, transit fares, crowdedness, etc.) are balancing out so that travel time
can be considered as the only factor in travel mode choice. As parking at the venue
is  limited, it  is  known  that  queuing  at  the  lot  or  searching  for  parking  in  the 
neighborhood adds  extra  25 minutes of  travel  to  the  driving  time. Assume  that 
decisions are deterministic: people always choose  the mode  that provides shortest
travel time. If you have completed HW4 by now, you know the modal split and are 
good to go!

Ticket sales show that 20 out of every 1000 people age 20-44 and 5 out 
of  every  1000  people  age 45-64 have  tickets  to  the  event. There  is  no  reason  to 
believe  that  the  distribution  of  home  locations  of  attendees  is  any  different  from 
that  of  the  general  population  (distance  decay  effect  is  negligible  within  the  Bay 
Area, and fans do not tend to settle nearby other fans), nor that income levels have a 
significant impact  on  ticket  sales (experience is  priceless  for true  fans). Following 
the Mini-labs, you can only consider SF, Oakland, Berkeley, and Marin areas in your 
estimates below.


Note that the the AT&T park is located in TAZ 110, we need to find the travel time from each TAZ to the TAZs with destination = 110.

In [ ]:
# We want to consider only the TAZs from minilab4 so we will use the Tables.join() filter out other rows:
travel_time_data = Table.read_table('../minilab4/sf_oak_traveltimes_bymode.csv')
#your code here

tt_110 = travel_time_data.where('destination',110)

joined_tt = taz_data.join('ZONE', tt_110, 'origin')

In [1]:
joined_tt

NameError: name 'joined_tt' is not defined

### Number of concert attendees

In [6]:
num_attendees = np.sum(20/1000 * joined_tt['AGE2044'] + 5/1000 * joined_tt['AGE4564'])
num_attendees

13956.730000000001

### VMT

In [14]:
# from HW4:
# get the rows where shared ride +25 < transit time, and rows where transit is not available
drive_inds = ((tt_110['shared ride (2 people)']+25<tt_110['walk-transit-walk'])|(tt_110['walk-transit-walk'] == -999))
drive_rows = tt_110.where(drive_inds)
tazs_that_drive = drive_rows['origin']

# calculate VMT - join with travel distance table
travel_dist_data = Table.read_table('sf_oak_traveldists_bymode.csv')
td_110 = travel_dist_data.where('destination',110)
joined_td = taz_data.join('ZONE', td_110, 'origin')

# take only the tazs that drive:
joined_td_drive = joined_td.where(np.in1d(joined_td['ZONE'], tazs_that_drive))
joined_td_drive

ZONE | DISTRICT | SD   | COUNTY | TOTHH | HHPOP | TOTPOP | EMPRES | SFDU | MFDU | HHINCQ1 | HHINCQ2 | HHINCQ3 | HHINCQ4 | TOTACRE | RESACRE | CIACRE | SHPOP62P | TOTEMP | AGE0004 | AGE0519 | AGE2044 | AGE4564 | AGE65P | RETEMPN | FPSEMPN | HEREMPN | OTHEMPN | AGREMPN | MWTEMPN | PRKCST | OPRKCST | AREATYPE | HSENROLL | COLLFTE | COLLPTE | TOPOLOGY | TERMINAL | ZERO | hhlds | sftaz | gqpop | destination | drive alone | shared ride (2 people) | shared ride (3 people) | walk | bike
42   | 1        | 1    | 1      | 1835  | 6234  | 6955   | 3391   | 430  | 1405 | 353     | 340     | 464     | 678     | 628     | 100     | 484    | 0.02     | 801    | 296     | 1006    | 4774    | 827     | 52     | 136     | 101     | 299     | 249     | 0       | 16      | 0      | 0       | 3        | 0        | 0       | 0       | 2        | 1.16079  | 0    | 1835  | 42    | 721   | 110         | 5.39        | 5.39                   | 5.39                   | -999 | -999
43   | 2        | 2    | 1      | 3246  | 5275  | 5292   | 3536   | 399  | 2847 | 664     | 539     | 669     | 1374    | 199     | 56      | 5      | 0.2      | 2049   | 212     | 154     | 2754    | 1262    | 910    | 430     | 645     | 663     | 241     | 15      | 55      | 0      | 0       | 2        | 0        | 0       | 0       | 3        | 3.82905  | 0    | 3246  | 43    | 17    | 110         | 5.5         | 4.42                   | 4.42                   | 4.19 | 4.19
49   | 2        | 2    | 1      | 2278  | 4176  | 4204   | 2698   | 536  | 1742 | 186     | 235     | 335     | 1522    | 135     | 76      | 6      | 0.2      | 1841   | 235     | 322     | 1531    | 1451    | 665    | 50      | 567     | 981     | 215     | 0       | 28      | 0      | 139.35  | 2        | 245.198  | 0       | 0       | 1        | 2.74154  | 0    | 2278  | 49    | 28    | 110         | 4.94        | 3.86                   | 3.86                   | 3.84 | 3.84
50   | 2        | 2    | 1      | 2382  | 4146  | 4147   | 2954   | 406  | 1976 | 383     | 409     | 401     | 1189    | 121     | 59      | 12     | 0.21     | 2275   | 201     | 222     | 1841    | 1161    | 722    | 260     | 728     | 1107    | 137     | 0       | 43      | 0      | 0       | 2        | 0        | 0       | 0       | 1        | 3.27587  | 0    | 2382  | 50    | 1     | 110         | 5.44        | 4.42                   | 4.42                   | 4.37 | 4.37
51   | 2        | 2    | 1      | 2115  | 3518  | 3527   | 2408   | 314  | 1801 | 357     | 346     | 474     | 938     | 107     | 46      | 17     | 0.19     | 1049   | 185     | 118     | 1787    | 858     | 579    | 35      | 388     | 504     | 117     | 0       | 5       | 0      | 0       | 2        | 0        | 0       | 0       | 3        | 2.57352  | 0    | 2115  | 51    | 9     | 110         | 5.96        | 4.89                   | 4.89                   | 4.77 | 4.77
52   | 2        | 2    | 1      | 1119  | 3259  | 3267   | 1801   | 296  | 823  | 211     | 253     | 323     | 332     | 1491    | 57      | 280    | 0.03     | 1106   | 305     | 395     | 2117    | 415     | 35     | 23      | 254     | 402     | 315     | 0       | 112     | 0      | 0       | 3        | 0        | 0       | 0       | 1        | 1.20476  | 0    | 1119  | 52    | 8     | 110         | 7.06        | 5.69                   | 5.69                   | 5.66 | 5.66
53   | 2        | 2    | 1      | 35    | 45    | 175    | 59     | 0    | 35   | 25      | 4       | 6       | 0       | 1098    | 5       | 13     | 0.05     | 961    | 2       | 4       | 117     | 50      | 2      | 53      | 72      | 656     | 165     | 0       | 15      | 0      | 0       | 3        | 0        | 0       | 0       | 2        | 3.35624  | 0    | 35    | 53    | 130   | 110         | 5.91        | 5.91                   | 5.81                   | 5.59 | 5.59
54   | 2        | 2    | 1      | 2691  | 6386  | 6455   | 3814   | 1217 | 1474 | 674     | 594     | 824     | 599     | 257     | 104     | 4      | 0.24     | 849    | 270     | 705     | 2147    | 2022    | 1311   | 168     | 250     | 307     | 103     | 0       | 21      | 0      | 0       | 3        | 0        | 0       | 0       | 1        | 2.26117  | 0    | 2691  | 54    | 69    | 110         | 7.85        | 7.67                   | 7.67                   | 7.45 | 7.45
55   | 2        | 2    | 1      | 1520  | 3571  | 3571   | 1919   | 758  | 762  | 373     | 387     | 407     | 353     | 97      | 58      | 1      | 0.23     | 322    | 182     | 395     | 1147    | 1166    | 681    | 27      | 190     | 83      | 10      | 0       | 12      | 0      | 0       | 3        | 0        | 0       | 0       | 1        | 2.17099  | 0    | 1520  | 55    | 0     | 110         | 8.17        | 7.03                   | 7.03                   | 7.03 | 7.03
56   | 2        | 2    | 1      | 62    | 130   | 129    | 196    | 13   | 49   | 15      | 13      | 5       | 29      | 250     | 2       | 157    | 0.47     | 2126   | 2       | 7       | 24      | 40      | 56     | 0       | 329     | 1552    | 233     | 0       | 12      | 0      | 0       | 3        | 0        | 0       | 0       | 1        | 1.48534  | 0    | 62    | 56    | -1    | 110         | 8.2         | 7.07                   | 7.07                   | 7.04 | 7.04
... (130 rows omitted)

In [16]:
# concert_vmt = # sum(# people that share a ride from a taz * distance driven)/2 because they share a ride
num_people_drove = joined_td_drive['AGE2044']*20/1000+joined_td_drive['AGE4564']*5/1000 #per taz
num_miles = joined_td_drive['shared ride (2 people)']

concert_vmt = (np.sum(num_people_drove*num_miles)/2)
print ('VMT caused by the concert: %f miles' %np.round(concert_vmt))

VMT caused by the concert: 25860.000000 miles